Считайте датасет из файла train.csv (это данные о выживаемости на Титанике) - 1 балл

Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - 1 балл

Посчитайте процент выживаемости у каждого класса пассажиров (Pclass) - 1 балл

Выведите самое популярное мужское и самое популярное женское имя на корабле - 1 балл

Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе - 2 балла

Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл

Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - 2 балла

Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) - 1 балл

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
# Посчитайте процент выживаемости у каждого класса пассажиров (Pclass) - 1 балл
round(df.groupby('Pclass')['Survived'].sum() /
    df.groupby('Pclass')['PassengerId'].count() * 100,
    2
).astype(str) + '%'

Pclass
1    62.96%
2    47.28%
3    24.24%
dtype: object

In [40]:
# Выведите самое популярное мужское и самое популярное женское имя на корабле - 1 балл
men_df = df[df.Sex == 'male']
male_names = men_df['Name'].str.extract('Mr\. ([A-Za-z]+)')[0].dropna()
most_popular_male_name = male_names.value_counts().idxmax()
most_popular_male_name

'William'

In [41]:
# Выведите самое популярное мужское и самое популярное женское имя на корабле - 1 балл
women_df = df[df.Sex == 'female']
female_names = women_df['Name'].str.extract('\(([^)]+)\)')[0]
fallback_names = women_df['Name'].str.extract('Miss\. ([A-Za-z]+)|Mrs\. ([A-Za-z]+)').bfill(axis=1)[0]
female_names.fillna(fallback_names, inplace=True)
female_names = female_names.str.split().str[0]
most_popular_female_name = female_names.value_counts().idxmax()
most_popular_female_name

'Anna'

In [ ]:
# Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе - 2 балла

In [48]:
men_df = df[df.Sex == 'male']
men_df['MaleName'] = men_df['Name'].str.extract('Mr\. ([A-Za-z]+)')[0]
most_popular_male_names = men_df.dropna(subset=['MaleName']).groupby('Pclass')['MaleName'].agg(lambda x: x.value_counts().idxmax())
most_popular_male_names

<ipython-input-48-fe5f8ffb5ce6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men_df['MaleName'] = men_df['Name'].str.extract('Mr\. ([A-Za-z]+)')[0]

Pclass
1    William
2    William
3    William
Name: MaleName, dtype: object

In [49]:
# Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе - 2 балла

women_df = df[df.Sex == 'female']
female_names = women_df['Name'].str.extract('\(([^)]+)\)')[0]
fallback_names = women_df['Name'].str.extract('Miss\. ([A-Za-z]+)|Mrs\. ([A-Za-z]+)').bfill(axis=1)[0]
female_names.fillna(fallback_names, inplace=True)
female_names = female_names.str.split().str[0]
women_df['FemaleName'] = female_names
women_df = women_df.dropna(subset=['FemaleName'])
most_popular_female_names = women_df.groupby('Pclass')['FemaleName'].agg(lambda x: x.value_counts().idxmax())
most_popular_female_names

<ipython-input-49-0c1f41953998>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women_df['FemaleName'] = female_names

Pclass
1    Elizabeth
2    Elizabeth
3         Anna
Name: FemaleName, dtype: object

In [52]:
# Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл

df[df.Age > 44]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

In [55]:
# Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - 2 балла

men_df = df[df.Sex == 'male']
men_df[men_df.Age < 44]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

In [56]:
# Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) - 1 балл

df_without_nan_cabin = df.dropna(subset=['Cabin'])
cabin_size_counts = df_without_nan_cabin['Cabin'].apply(lambda x: len(x.split(' '))).value_counts()
cabin_size_counts

Cabin
1    180
2     16
3      6
4      2
Name: count, dtype: int64